#cheat {
    h1,h2,h3,h4,h5{
        color: #000;
        text-align: center;
        line-height: 1;
        margin: 2px, 0px, 0px, 0px;
        padding: 0px;
    }
    p, li, blockquote {
        color: #000;
        text-align: justify;
        margin: 0px;
        padding: 0px;
        line-height: 1;
    }
    ol,ul{
        margin-bottom: 0px;
    }
    span.katex {
        color: #000;
        margin: 0px;
        padding: 0px;
        font-size: 12pt;
    }
}